# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
miniprogram_npm/
dist/

# 微信小程序专属
project.private.config.json
*.log

# 编辑器目录
.idea/
.vscode/
